/* color pallete: https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9 */
body {
  color: #2C3639;
  background-color: #DCD7C9;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #3F4E4F;
}

a:hover {
  color: #A27B5C;
}

h1 {
  font-weight: 900;
  font-size: 5rem;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  padding-bottom: 30px;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-weight: 100;
}

.section {
  padding: 100px 0;
}

.first-row-in-section {
  padding-top: 30px;
}

.col-with-padding {
  padding: 5px 40px;
}

#profilePic {
  width: 100%;
  border-radius: 50%;
}

.scrollToTop {
  width: 100px;
  padding: 10px;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  background: no-repeat 0px 0px;
}

.scrollToTop:hover {
  text-decoration: none;
}